* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.photo{
    transition: all 0.75s ease-out;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img {
    transition: all 0.75s ease-out;
    width: 8rem;
    border-radius: 50%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.social-handles{
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.social-handles img {
    width: 3rem;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    transform-style: preserve-3d;
    min-height: 50vh;
    width: 20rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    /*background: linear-gradient(
        to right,
        #FFEEEE,
        #DDEFBB
    ); */
}

.info {
    transition: all 0.75s ease-out;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info h1{
    transition: all 0.75s ease-out;
    font-size: 1.5rem;
    font-weight: bolder;
}

.info h3{
    transition: all 0.75s ease-out;
    font-size: 0.9rem;
    padding: 1rem 0rem;
    color: #585858
}

.info h4{

    transition: all 0.75s ease-out;
    font-size: 0.7rem;
    color: #585858
}